modules = ["nodejs-20", "python-3.11"]
[agent]
expertMode = true
integrations = ["github:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd public && npx http-server -p 5000 --cors -c-1"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8034
externalPort = 4200

[[ports]]
localPort = 8035
externalPort = 5173

[[ports]]
localPort = 8108
externalPort = 8008

[[ports]]
localPort = 8256
externalPort = 3002

[[ports]]
localPort = 8289
externalPort = 6000

[[ports]]
localPort = 8540
externalPort = 8080

[[ports]]
localPort = 8685
externalPort = 6800

[[ports]]
localPort = 8748
externalPort = 8081

[[ports]]
localPort = 8771
externalPort = 8000

[[ports]]
localPort = 8810
externalPort = 3001

[[ports]]
localPort = 8947
externalPort = 5000

[[ports]]
localPort = 8951
externalPort = 3003

[[ports]]
localPort = 9005
externalPort = 3000

[[ports]]
localPort = 37227
externalPort = 8099

[nix]
channel = "stable-25_05"
